
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br/> 
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Kategori</th>
        <th>Durum</th>
    </tr>
    <tr>
        <th>1</th>
        <td>Spor</td>
        <td>Aktif</td>
    </tr>
    <tr>
        <th>2</th>
        <td>Yazılım</td>
        <td>Aktif</td>
    </tr>
</table>

