@model MvcProject.Entities.Concrete.Writer
@{
    ViewBag.Title = "WriterProfilePassword";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}


<h2>Şifre değiştirme sayfası</h2>
<br />
@using (Html.BeginForm("WriterProfilePassword", "WriterPanel", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Yeni Şifreniz")
        @Html.PasswordFor(c => c.WriterPassword, new { @class = "form-control" })
        <br />
        @Html.HiddenFor(x=>x.WriterId)
        <button class="btn btn-default" style="background-color:#ff6a00; color:white;">Şifre Değişikliğini Kaydet</button>
    </div>
}

