@using MvcProject.Entities.Concrete
@model List<Category>

@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<table class="table table-bordered">
    <tr>
        <th>Kategori Numarası</th>
        <th>Kategori Adı</th>
        <th>Kategori Açıklaması</th>
        <th>Durum</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.CategoryId</th> 
            <td>@item.CategoryName</td> 
            <td>@item.CategoryDescription</td> 
            <td>@item.CategoryStatus</td> 
        </tr>
    }
</table>

<a href="/Category/AddCategory" class="btn btn-info">Yeni Kategori</a>
