
@{
    Layout = null;
}

<h3>Mvc Tablo</h3>
<br/>
<table>
    <tr>
        <th>Kategori Numarası</th>
        <th>Kategori Adı</th>
        <th>Kategori Açıklaması</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Gelişme</td>
        <td>True</td>
    </tr>
</table>