<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="6.1.1" targetFramework="net452" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net452" />
  <package id="FluentNHibernate" version="2.0.3.0" targetFramework="net452" />
  <package id="FluentValidation" version="6.4.1" targetFramework="net452" />
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net452" />
  <package id="NHibernate" version="4.1.1.4000" targetFramework="net452" />
  <package id="Ninject" version="3.3.4" targetFramework="net452" />
  <package id="PostSharp" version="4.2.17" targetFramework="net452" />
</packages>