
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Giriş Paneli</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/AdminLTE-3.0.4/LoginAdmin/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/AdminLTE-3.0.4/LoginAdmin/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/AdminLTE-3.0.4/LoginAdmin/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/AdminLTE-3.0.4/LoginAdmin/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/AdminLTE-3.0.4/LoginAdmin/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/AdminLTE-3.0.4/LoginAdmin/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/AdminLTE-3.0.4/LoginAdmin/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/AdminLTE-3.0.4/LoginAdmin/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/AdminLTE-3.0.4/LoginAdmin/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/AdminLTE-3.0.4/LoginAdmin/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/AdminLTE-3.0.4/LoginAdmin/css/main.css">
    <!--===============================================================================================-->
</head>
<body>
    <div class="limiter">
        <div class="container-login100" style="background-image: url('/AdminLTE-3.0.4/LoginAdmin/images/bg-01.jpg');">
            <div class="wrap-login100">
                @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                {
                    <span class="login100-form-logo">
                        <i class="zmdi zmdi-landscape"></i>
                    </span>

                    <span class="login100-form-title p-b-34 p-t-27">
                        Admin Giriş Paneli
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Enter username">
                        <input class="input100" type="text" name="AdminUserName" placeholder="Kullanıcı Adı">
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <input class="input100" type="password" name="AdminPassword" placeholder="Şifre">
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    </div>

                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Beni Hatırla
                        </label>
                    </div>
                    if (ViewBag.ErrorMessage != null)
                    {
                        <div class="text-center" style="margin-bottom:15px">
                            <a class="text-gray-dark">
                                @ViewBag.ErrorMessage
                            </a>
                        </div>
                    }
                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">
                            Giriş Yap
                        </button>
                    </div>

                    <div class="text-center p-t-90">
                        <a class="txt1" href="/Default/Headings/">
                            Siteye Geri Dön
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>

    
    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/AdminLTE-3.0.4/LoginAdmin/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/AdminLTE-3.0.4/LoginAdmin/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/AdminLTE-3.0.4/LoginAdmin/vendor/bootstrap/js/popper.js"></script>
    <script src="~/AdminLTE-3.0.4/LoginAdmin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/AdminLTE-3.0.4/LoginAdmin/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/AdminLTE-3.0.4/LoginAdmin/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/AdminLTE-3.0.4/LoginAdmin/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/AdminLTE-3.0.4/LoginAdmin/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/AdminLTE-3.0.4/LoginAdmin/js/main.js"></script>

</body>
</html>